{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Dashboard
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
</head>
<body>
    VC TA NA POHA DO DASHBOARD
    {% block content %}

    {% endblock %}
    <script src="{% static 'js/uikit.min.js' %}"></script>
</body>
</html>