{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <a href="{% url 'logout' %}">sair</a><br />
    index.html - <a href="{% url 'projects.create' %}">criar</a>
    <ul>
        {% for project in projects %}
            <li>{{project.title}} - <a href="{% url 'projects.update' project.id %}">editar</a> - <a href="{% url 'projects.delete' project.id %}">deletar</a> </li>
        {% endfor %}
    </ul>
</body>

</html>
